main{
    background-color: white;
}

#div1{
    background-color: hsl(208, 11%, 55%);
}
#div2{
    background-color: hsl(208, 11%, 55%);
}
#div3{
    background-color: hsl(208, 11%, 55%);
}
#div4{
    background-color: hsl(208, 11%, 55%);
}
#div5{
    background-color: hsl(208, 11%, 55%);
}